__pycache__/
*.py[cod]
*.rdb
*.pid
.idea
docker/env/production*
grabber/pycharm
grabber/.pycharm_helpers
geckodriver.log
*.DS_Store
celerybeat-schedule
app/grabber/proxy.txt
docker/env/local
*.sql
*.xls
*.xlsx
.venv/
node_modules
lib/
docker-compose-local.yml
.pytest_cache!venv
db.sqlite3
static
venv
venv/
.env/
media
